h1 {
    text-align: center;
}

.cell {
    border: black solid 1px;
    font-size: 40px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid {
    align-self: center;
    border: black solid 3px;
    width: 450px;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto;
}

.largeSquare {
    border: black solid 3px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.sudoku {
    border: none;
}

button {
    margin: 0 auto;
    margin-top: 5px;
    display: block;

}

.possibility {
    font-size: x-small;
}